<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Career Training Concepts Inc.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="CTC">
	
	   <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
		<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/css/theme.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome-ie7.min.css" />
		<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
		<link type="text/css" rel="stylesheet" href="/css/normalize.css" />
		
	  	<script type="text/javascript" src="/js/popper.min.js"></script>
		<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	  	<script type="text/javascript" src="/js/modal.js"></script>
		<!-- <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script> -->
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/gen_validatorv4.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
		
		<link rel="shortcut icon" href="/img/favicon.ico">
	</head>

	<body>
		
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <div class="container">
		    <a class="navbar-brand" href="/index"><img src="/img/logo-white-notag.svg" width="136px"></a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto" style="margin-left: 32px;">
			  <li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Recruiter</a>
			    <ul class="dropdown-menu">
				<% if session[:recruiter] %>
					<li><a class="dropdown-item <%= active 'register' %>" href="/recruiters/register">Register your school</a></li>
					<li><a class="dropdown-item <%= active 'profile' %>" href="/recruiters/<%= session[:recruiter] %>/profile">Account</a></li>
					<li><a class="dropdown-item <%= active 'downloads' %>" href="/recruiters/downloads">Downloads</a></li>
				 <% else %>
				 	<li><a class="dropdown-item <%= active 'noaccount' %>" href="/recruiters/noaccount">Create account</a></li>
					<li><a class="dropdown-item <%= active 'signin' %>" href="/recruiters/signin"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="margin-top: -3px;">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg> &nbsp;Sign in</a></li>
				 <% end %>
			    </ul>
			  </li>
			 </ul>
		      
			<div class="out pull-right">
				<% if session[:recruiter] %>
			  <a class="nav-link" href="/recruiters/signout">
				 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
				   <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
				   <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
				 </svg> &nbsp;Sign out
			  </a>
			   <% end %>
		  	  </div>
			 
		  </div>
		</nav>
		
		
	    		 
			<%= alert %>
			<%= yield %>       
				
		
		
		<footer>
		<div class="row">
			<div class="col-md-3 d-none d-sm-block">
				<p> </p>
			</div>
			<div class="col-md-6">
				<p class="center" style="font-size: 0.7em;">&copy; <%= Time.now.strftime("%Y") %> <strong>Career Training Concepts Inc.</strong>
				<br />All rights reserved. Reproduction in whole or in part without permission is prohibited.</p>
			</div>
			<div class="col-md-3 d-none d-sm-block">
				<p style="padding-top: 12px;"><a href="/admin/signin" class="btn btn-mini btn-secondary">Admin</a></p>
			</div>
		</div>
		</footer>
		
		<script type="text/javascript">
			 
		 	$(function() {
				$(document).ready(function(){
			 		setTimeout(function(){
			 			$("div#alert").fadeOut("slow", function () {
			 			$("div#alert").remove();
			 	      });
			 		}, 4000);
			 	});
		   
			}).call(this);	

		</script>
			
	</body>
</html>

<script>
	function goBack() {
	window.history.back();
}
</script>

