<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/resume-style.css" />
	<link type="text/css" rel="stylesheet" href="/css/datetimepicker.css" />
	<link type="text/css" rel="stylesheet" href="/css/resume-content.css" />
	<link type="text/css" rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome-ie7.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
	
<style>
	p	{
		font-size: 14px;
		line-height: 1.2em;
		margin-bottom: 1px;
		font-weight: 400;
		font-family: helvetica;
	}
	
	.headsm	{
		font-weight: 900;
		margin-bottom: 3px;
	}
	h5	{
		font-size: 18px;
		font-weight: 900;
	}
	strong	{
		font-weight: 900;
	}
	ul	{
		margin-bottom: 1px;
	}
	ul li	{
		font-size: 14px;
		font-family: helvetica;
		padding: 0;
		margin-top: 1px;
		font-weight: 400;
	}
	
	tr.main td	{
		font-family: helvetica;
		line-height: 24px;
		font-weight: 400;
		border: none;
	}
	tr.main td ul li	{
		line-height: 18px;
		font-weight: 300;
		border: none;
	}
	td {
		font-size: 14px;
		border: 0;
		font-family: helvetica;
		margin-top: 0px;
		border: 0px;
	}
	
	.lead	{
		font-family: helvetica;
		font-weight: 900;
		text-align: center;
	}
	
	table tr td	{
		border-color: #fff;
		font-family: helvetica;
		font-size: 14px;
		line-height: 18px;
		margin-top: 3px;
		padding-top: 0;
		font-weight: 400;
		border: 0px;
	}
	
	table.side tr td	{
		border: 0;
		font-family: helvetica;
		font-size: 14px;
		font-weight: 400;
	}
	
	table.side tr th	{
		font-family: helvetica;
		font-size: 14px;
		font-weight: 600;
	}
	
	div.inner	{
		display: none;
	}
	
	.header1	{
		font-family: helvetica;
		font-size: 22px;
		font-weight: 900;
		text-align: center;
		margin-bottom: 9px;
	}
	
	.header2	{
		font-family: helvetica;
		font-size: 16px;
		font-weight: 900;
	}
	
	@media print {
	  .hidden-print {
	    display: none !important;
	  }
	}
	
</style>

</head>

<body>
	
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				
				<div class="hidden-print" style="margin: 2em 0 2em 0;">
					<!-- <form id="summary_report" method="post">
				<button type="submit" class="hidden-print btn" style="float: right; margin-top: 6px; margin-left: 12px;">Create PDF</button></form>
			<a href="/arng/schools/<%= @school.id %>/summary_report_csv" class="btn" style="float: right; margin-top: 6px; margin-left: 12px;">Export csv</a> --><button onclick="history.back()" class="hidden-print btn btn-secondary" style="color: white; float: right; margin-top: 6px;">Back</button><br />
				</div>
				
				<p class="header1">Summary Report</p>
				<!-- <p style="text-align: center; font-size: 16px;"><strong><%= @school.school_name %></strong> &nbsp; <%= @school.city %> <%= @school.state %> &nbsp;&bull;&nbsp; <%= @school.recruiter.rank %> <%= @school.recruiter.first_name %> <%= @school.recruiter.last_name %> &nbsp;&bull;&nbsp; <b>Class Date:</b> <%= format_day(@school.class_date) %></p> -->
				 
				 
				
				<h5>Attendance Record</h5>
				<p style="margin-bottom: 12px;">Total Number of Attendees: <strong><%= @school.students.count %></strong></p>
				<p><small>Student data is not edited and may contain errors or typos.</small></p>
				<table  class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Last name</th>
				      <th scope="col">First name</th>
				      <th scope="col">Grade</th>
				      <th scope="col">Phone</th>
				    </tr>
				  </thead>
				  <tbody>
					  
					<% @school.students.each do |student| %>
				    <tr>
				      <td><%= student.last_name %></td>
				      <td><%= student.first_name %></td>
					  <td><%= student.grade %></td>
				      <td><%= student.phone %></td>
				    </tr>
					<% end %>
						
				</table>
				<!-- * Students had the option to enter their email address (not recorded) and phone number if they felt the National Guard Values discussed in H.E.A.R. were of interest and they wanted more information about the National Guard. -->
				<hr style="margin: 6px 0 6px 0;" />
				
			</div>
		</div>
	</div>
</body>
</html>
