<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/resume-style.css" />
	<link type="text/css" rel="stylesheet" href="/css/datetimepicker.css" />
	<link type="text/css" rel="stylesheet" href="/css/resume-content.css" />
	<link type="text/css" rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome-ie7.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
	
<style>
	p	{
		font-size: 13px;
		line-height: 1.2em;
		margin-bottom: 1px;
		font-weight: 400;
		font-family: helvetica;
	}
	
	.headsm	{
		font-weight: 900;
		margin-bottom: 3px;
	}
	h5	{
		font-size: 18px;
		font-weight: 900;
	}
	strong	{
		font-weight: 900;
	}
	ul	{
		margin-bottom: 1px;
	}
	ul li	{
		font-size: 14px;
		font-family: helvetica;
		padding: 0;
		margin-top: 1px;
		font-weight: 400;
	}
	
	tr.main td	{
		font-family: helvetica;
		line-height: 24px;
		font-weight: 400;
		
	}
	tr.main td ul li	{
		line-height: 18px;
		font-weight: 300;
	}
	td {
		font-size: 14px;
		border-left: 0;
		font-family: helvetica;
		margin-top: 0px;
	}
	th {
		font-size: 13px;
		border-left: 0;
	}
	.lead	{
		font-family: helvetica;
		font-weight: 900;
		text-align: center;
	}
	
	table tr td, tr th	{
		border-color: gray;
		font-family: helvetica;
		font-size: 13px;
		line-height: 16px;
		margin-top: 3px;
		padding-top: 0;
		font-weight: 400;
		
	}
	
	table.summ tbody tr td	{
		text-align: center;
		font-weight: 400;
	}
	
	table.side tr td	{
		borde: 0;
		font-family: helvetica;
		font-size: 14px;
		font-weight: 400;
	}
	
	table.side tr th	{
		font-family: helvetica;
		font-size: 14px;
		font-weight: 600;
	}
	
	div.inner	{
		display: none;
	}
	
	.header1	{
		font-family: helvetica;
		font-size: 22px;
		font-weight: 900;
		text-align: center;
		margin-bottom: 9px;
	}
	
	.header2	{
		font-family: helvetica;
		font-size: 16px;
		font-weight: 900;
	}
	
	@media print {
	  .hidden-print {
	    display: none !important;
	  }
	}
	
</style>

</head>

<body>
<div class="container">	
	<div class="row">  
		<div class="col-md-12">
			<div class="hidden-print" style="margin: 0.6em 0;">
				<form method="post">
				<button type="submit" class="hidden-print btn btn-mini" style="float: right; margin-top: 6px; margin-left: 12px;">Create PDF</button></form>
				<button onclick="history.back()" class="hidden-print btn btn-secondary btn-mini" style="color: white; float: right; margin-top: 6px;">Back</button><br />
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 1em;">  
		<div class="col">
			<img src="/img/HEAR-logo-black.svg" width="135px;">
		</div>
		<div class="col" style="text-align: center;">
			<h1 style="font-size: 2em;">Student Survey Report</h1>
		</div>
		<div class="col">
			<img src="/img/arng-no-ground.svg" class="float-end" width="54px;">
		</div>
	</div>
	<div class="row">  
		<div class="col-md-12">

			<h6>About H.E.A.R.</h6>

			<p>H.E.A.R. is an anti-bullying presentation targeted to high school students. It is published by Career Training Concepts, Inc. and sponsored by the Army National Guard. The 50-minute presentation was developed in partnership with subject matter experts at the Harvard Graduate School of Education and the University of Nebraska-Lincoln. Part A of this report summarizes the post-presentation student survey results. Part B is an attendance record by name of the student participants.</p>

			<p>This report provides data intended to guide positive change in your school climate. The following resources will support your efforts to create a bully-free, respectful learning environment.</p>

			<h6 style="margin-top: 1em;">Making Caring Common Project</h6>

			<a href="http://sites.gse.harvard.edu/making-caring-common" target="blank">sites.gse.harvard.edu/making-caring-common ????</a>

			<p>Making Caring Common, a project of Harvard Graduate School of Education, strives to help educators, families and community members raise children who demonstrate respectful behavior and social responsibility. The website provides research-based tools and strategies for building caring and respectful school communities.</p>

			<h6 style="margin-top: 1em;">Empowerment Initiative</h6>

			<a href="http://empowerment.unl.edu" target="blank">empowerment.unl.edu</a>. https://cehs.unl.edu/bullyingprevention

			<p>The Empowerment Initiative seeks to apply knowledge gained through research to improve communities in ways that build healthy relationships and free them from bullying. The website provides information about relevant research projects, and it provides links with information about resiliency, mental health resources, youth violence prevention and building safe schools.</p>

			<h6 style="margin-top: 1em;">H.E.A.R.</h6>

			<a href="https://project-hear.us/resources" target="blank">project-hear.us/resources</a>

			<p>A collection of resources on the HEAR website includes books, films and Internet sites. These resources provide evidence-based information, assessment tools, lessons, best practices and practical tips for preventing and responding to bullying and cyberbullying, as well as information on social and emotional learning to promote a positive school climate.</p>
 		   <br />

			<p><small>* Students had the option to enter their email address (not recorded) and phone number if they felt the National Guard Values discussed in H.E.A.R. were of interest and they wanted more information about the National Guard.</small></p>
		</div>
	</div>
	
	<div style="page-break-after: always;"> </div> 
	
	<div class="row" style="margin-top: 2em;">  
		<div class="col">
			<img src="/img/HEAR-logo-black.svg" width="135px;">
		</div>
		<div class="col" style="text-align: center;">
			<h1 style="font-size: 2em;">Student Survey Report</h1>
		</div>
		<div class="col">
			<img src="/img/arng-no-ground.svg" class="float-end" width="54px;">
		</div>
	</div>
	
	
	<div class="row">  
		<div class="col-md-6">
				
				<p>School: &nbsp;&nbsp;<strong><%= @school.school_name %></strong></p>
				<p>State: &nbsp;&nbsp;<strong><%= @school.state %></strong></p>
				<p>Presentation Date: &nbsp;&nbsp;<strong><%= @school.class_date %></strong></p>
				<p>School Contact: &nbsp;&nbsp;<strong><%= @school.first_name %> <%= @school.last_name %></strong></p>
				<p>School Contact Email: &nbsp;&nbsp;<strong><%= @school.email %> </strong></p>
				<p>School Contact Phone: &nbsp;&nbsp;<strong><%= @school.phone %> </strong></p>
				
		</div>
		<div class="col-md-6">
			<p>National Guard Rep: &nbsp;&nbsp;<strong><%= @school.recruiter.rank %> <%= @school.recruiter.first_name %> <%= @school.recruiter.last_name %></strong></p>
			<p>National Guard Rep:t Email: &nbsp;&nbsp;<strong><%= @school.recruiter.email %> </strong></p>
			<p>National Guard Rep:t Phone: &nbsp;&nbsp;<strong><%= @school.recruiter.phone %> </strong></p>
			
		</div>
	</div>
	<div class="row">  
		<div class="col-md-12">
			<hr style="margin: 0.85em 0;" />
					
				<p style="text-align: center; font-size: 20px; margin-bottom: 0.3em;">A. Student Participant Feedback Summary <small>(Total Participants = <strong><%= @school.students.count %></strong>)</small></p>
	 			<p><strong>Grade</strong>&nbsp;&nbsp;&nbsp;&nbsp;
					
					College: <strong><%= (@stud_gradec * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	 				Grade 12: <strong><%= (@stud_grade12 * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	 				Grade 11: <strong><%= (@stud_grade11 * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	 				Grade 10: <strong><%= (@stud_grade10 * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
					Grade 9: <strong><%= (@stud_grade9 * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	 				Other: <strong><%= (@stud_gradeother * 100) / @school.students.count %>%</strong>&nbsp;&nbsp;&nbsp;&nbsp;
	 				Unknown: <strong><%= (@stud_gradeunknown * 100) / @school.students.count %>%</strong>
	 			
				</p>
				
				<table id="summ" class="table table-bordered table-striped table-sm summ" style="margin-top: 1em;">
					<thead>
						<tr>
							<th><strong>Question</strong></th>
							<th style="font-size: 0.8em; font-weight: 600; line-height: 1.2em; text-align: center;">Strongly<br />Agree</th>
							<th style="font-size: 0.8em; font-weight: 600; line-height: 1.2em; text-align: center;">Agree</th>
							<th style="font-size: 0.8em; font-weight: 600; line-height: 1.2em; text-align: center;">Disagree</th>
							<th style="font-size: 0.8em; font-weight: 600; line-height: 1.2em; text-align: center;">Strongly<br />Disagree</th>
							<th style="font-size: 0.8em; font-weight: 600; line-height: 1.2em; text-align: center;">Did Not<br />Answer</th>
						</tr>
					</thead>
					<tbody>
					
				    <tr>
						<td style="text-align:left">1. Bullying is a problem in my school.</td>
						<td><%= (@answer1_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer1_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer1_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer1_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer1_na * 100) / @school.students.count %>%</td>
				    </tr>
				    <tr>
						<td style="text-align:left">2. I have witnessed bullying within the past school year.</td>
						<td><%= (@answer2_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer2_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer2_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer2_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer2_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">3. I feel safe at my school.</td>
						<td><%= (@answer3_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer3_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer3_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer3_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer3_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">4. Students at my school reach out to help one another.</td>
						<td><%= (@answer4_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer4_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer4_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer4_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer4_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">5. My school faculty and staff actively work to create a positive, caring environment.</td>
						<td><%= (@answer5_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer5_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer5_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer5_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer5_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">6. Appreciating diversity is an important part of my school’s culture.</td>
						<td><%= (@answer6_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer6_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer6_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer6_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer6_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">7. The presentation helped me understand what bullying is and why people bully others.</td>
						<td><%= (@answer7_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer7_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer7_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer7_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer7_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">8. This presentation influenced my commitment to respecting and including others.</td>
						<td><%= (@answer8_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer8_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer8_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer8_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer8_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">9. This presentation gave me useful ideas for what to do if I witness bullying or cruelty.</td>
						<td><%= (@answer9_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer9_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer9_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer9_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer9_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">10. The character values discussed in H.E.A.R. are important to me.</td>
						<td><%= (@answer10_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer10_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer10_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer10_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer10_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">11. The presenter communicated clearly and effectively.</td>
						<td><%= (@answer11_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer11_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer11_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer11_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer11_na * 100) / @school.students.count %>%</td>
				    </tr><tr>
						<td style="text-align:left">12. The presenter was knowledgeable on the topic.</td>
						<td><%= (@answer12_sa * 100) / @school.students.count %>%</td>
						<td><%= (@answer12_ag * 100) / @school.students.count %>%</td>
						<td><%= (@answer12_dg * 100) / @school.students.count %>%</td>
						<td><%= (@answer12_da * 100) / @school.students.count %>%</td>
						<td><%= (@answer12_na * 100) / @school.students.count %>%</td>
				    </tr>
					
				</table>
				
			<p style="margin-bottom: 0.5em;"><strong>* Filtered Reports Option:</strong> To protect student anonymity, the publisher cannot provide demographically filtered report(s) for presentation groups of less than 50 students. Multiple presentation populations when compiled to equal at least 50 students can be combined and filtered to create reports by: Gender, Grade, and /or Ethnicity. Contact CTC for more information on how to request a free filtered report: info@careertrain.com</p>
			<p style="margin-bottom: 0.5em;">If you would like a free supplemental report of nationally collected data emailed to you for comparison purposes, please contact us toll free at 888-326-9229 or email at info@careertrain.com.</p>
			<p style="margin-bottom: 0.5em;"><strong>Additional Assessment: Making Caring Common (MCC) Survey</strong></p> 
			<p style="margin-bottom: 0.5em;">MCC, a project of Harvard Graduate School of Education, offers a free survey tool that assesses whether students feel safe, respected, and included in school. The MCC Survey tool is available to all schools who participate in H.E.A.R., and its goal is to help schools by providing data and solutions to address problems and improve school culture and climate. <strong>If you are interested in learning more about the MCC Survey, contact: mcc@gse.harvard.edu</strong></p>
			<p style="margin-bottom: 0.5em;"><small>* Students had the option to enter their email address (not recorded) and phone number if they felt the National Guard Values discussed in H.E.A.R. were of interest and they wanted more information about the National Guard.</small></p>

		</div>
	</div>
	
	<div style="page-break-after: always;"> </div> 
	
	<div class="row" style="margin-top: 2em;">  
		<div class="col">
			<img src="/img/HEAR-logo-black.svg" width="135px;">
		</div>
		<div class="col" style="text-align: center;">
			<h1 style="font-size: 2em;">Student Survey Report</h1>
		</div>
		<div class="col">
			<img src="/img/arng-no-ground.svg" class="float-end" width="54px;">
		</div>
	</div>
	
	<div class="row">  
		<div class="col-md-12">			 
				 <br />
				<p style="text-align: center; font-size: 20px;">B. Attendance Record <small>(Total Participants = <strong><%= @school.students.count %></strong>)</small></p>
				
				<p><small>Student data is not edited and may contain errors or typos.</small></p>
				<table class="table table-striped table-sm">
				  <thead>
				    <tr>
				      <th scope="col">Last name</th>
				      <th scope="col">First name</th>
				      <th scope="col">Grade</th>
				      <th scope="col">Phone</th>
				    </tr>
				  </thead>
				  <tbody>
					  
					<% @school.students.each do |student| %>
				    <tr>
				      <td><%= student.last_name %></td>
				      <td><%= student.first_name %></td>
					  <td><% if student.grade == 'Select one' %>Unknown<% else %><%= student.grade %><% end %></td>
				      <td><%= student.phone %></td>
				    </tr>
					<% end %>
						
				</table>
				<!-- * Students had the option to enter their email address (not recorded) and phone number if they felt the National Guard Values discussed in H.E.A.R. were of interest and they wanted more information about the National Guard. -->
				<br /><br />
				
		</div>
	</div>
</div>

</body>
</html>
