	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p style="float:right;"><a href="/admin/admin_edit" style="margin-top: 12px;" class="btn btn-info btn-sm">Admin Index</a>
			<h1 class="page-header">ARNG Reps</h1>
			
			<div class="row">
				<div class="col-md-6">
					<form class="form-search form-inline" method="get">
						<div class="input-group">
			
							<input type="text" class="search-query form-control" name="search" placeholder="Search last name - case sensitive" aria-label="Search last name" aria-describedby="button-addon2" value="<%= params[:search] %>">
							<button class="btn btn-info" type="submit" >Find</button>&nbsp;
		 			 <a href="/recruiters/recruiters" class="btn btn-info" style="float: right;">Reset</a>
			 
						</div>
					</form>
				</div>
			</div>
			
	
			
			<table class="table table-striped table-hover table-small" style="margin-top: 1em; margin-bottom: 5em;">
				<tr class="table-success">
				
				<th>Recruiter</th>
				<th>Email</th>
				<th style="text-align: center;">State</th>
				<th style="text-align: right;"><a href="/recruiters/admin_new" class="btn btn-mini btn-success">New</a></th>
			</tr>
			<% @recruiter.each do |recruiter| %>
			<tr>
				
				<td><%= recruiter.rank %> <%= recruiter.first_name %> <%= recruiter.last_name %></td>
				<td><%= recruiter.email %></td>
				<td style="text-align: center;"><%= recruiter.state %></td>
				<td style="text-align: right;"><a href="/recruiters/<%= recruiter.id %>/edit" class="btn btn-info btn-mini">Edit</a></td>
			</tr>
			<% end %>
			<tr>
				<th colspan="4"><small>Total number of recruiters: <strong><%= @recruiter.count %></strong> - ordered by last updated</small>
				</th>
			</tr>
			
			</table>
			</div>
			
			</div>
		</div>
	</div>
