<style>
	
</style>

<div class="container" style="margin-bottom: 5em;">	
	<div class="row">  
		<div class="col-md-12">
			<h1 class="page-header">Attendance Record</h1>
		</div>
	</div>
	<form class="form-horizontal" method="post" id="student">
	<div class="row">
		<div class="col-md-5">
			<p style="font-weight: 500;">Please create an Attendance Record for your school for this anti-bullying presentation.</p>
			<div class="form-group"> 
				<label for="school_password">School ID</label>
				<input type="text" class="form-control" placeholder="" name="school_password" id="school_password" aria-describedby="schoolpasswordHelp" value="<%= params[:school_password] %>" />
				<small id="schoolpasswordHelp" class="form-text">This code will be furnished by the ARNG Rep.</small>
			</div>
			<div class="form-group"> 
				<label for="sub_code">Student Access Code</label>
				<input type="text" class="form-control" placeholder="" name="sub_code" id="sub_code" value="<%= params[:sub_code] %>" />
				<small id="schoolpasswordHelp" class="form-text">This unique code is on the HEAR one-page flyer.</small>
			</div>	
			<div class="form-group">
				<label for="sub_code2" style="margin-top: 7px;">Please Type Access Code Again</label>
				<input type="text" class="form-control" placeholder="" name="sub_code2" id="sub_code2" aria-describedby="schoolpasswordHelp" value="<%= params[:sub_code2] %>" />
			</div>
			<div class="form-group">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" id="first_name" class="form-control" placeholder="" value="<%= params[:first_name] %>" />
			</div>
			<div class="form-group">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="" value="<%= params[:last_name] %>" />
			</div>
			
			<div class="form-group">			
				<label for="grade">Grade</label>
				<select type="text" class="form-select form-select-sm" name="grade" id="grade" style="width: 15em;" >
					<option value="Select one">-- Select one --</option>
					<option <%= 'selected' if @grade == '9' %> value="9">9</option>
					<option <%= 'selected' if @grade == '10' %> value="10">10</option>
					<option <%= 'selected' if @grade == '11' %> value="11">11</option>
					<option <%= 'selected' if @grade == '12' %> value="12">12</option>
					<option <%= 'selected' if @grade == 'College' %> value="College">College</option>
					<option <%= 'selected' if @grade == 'Other' %> value="Other">Other</option>
				</select>
			</div>
			
			
			 
			<div class="form-row">
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="form-control" placeholder="" name="email" id="email" aria-describedby="emailHelp" value="<%= params[:email] %>" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" placeholder="" name="phone" id="phone" aria-describedby="phoneHelp" value="<%= params[:phone] %>" />
				</div>
			</div>
			<div style="margin: 24px 0;">
				<div class="form-check">
					<div class="" style="width: 100%;">
						<input class="form-check-input" type="checkbox" value="<%= params[:contact_me] %>" id="contact_me" name="contact_me" <%= 'checked="checked"' if params[:contact_me] %>><em>I feel the National Guard Values discussed in this presentation are of interest and I would like more information about the National Guard.</em>
					</div>
				</div>
			</div>
			<!-- <div class="form-row" style="text-align: center;">
				<img src="/img/vgroup.png" width="90%">
			</div> -->
		</div>	
		
		<div class="col-md-7">	
			
			
			
			
			
			<div class="" style="margin-top: 2em; text-align: left;">
				<button class="btn btn-success" id="account" type="submit">Save Record</button>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="goBack()" class="btn btn-secondary" id="cancel" style="color: #ffffff;">Cancel</a>
			</div>
			
		</div>
	</div>
	<div class="row">
	</div>
	</form>
</div>    <!-------- /container -------->


<script type="text/javascript">
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<script type="text/javascript">
function ourFunction() {
  var x = document.getElementById("sub_code2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<script type="text/javascript">
	EnableSubmit = function(val) {
		var submit = document.getElementById("account");
		if (val.checked == true) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}
</script>

<script>
	window.onload = function() {
		const sub_code = document.getElementById('sub_code');
		sub_code.onpaste = function(e) {
			e.preventDefault();
		}
		const sub_code2 = document.getElementById('sub_code2');
		sub_code2.onpaste = function(g) {
			g.preventDefault();
		}
	}
</script>

<script  type="text/javascript">
	var frmvalidator = new Validator("student");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	frmvalidator.addValidation("grade","maxlen=7","Please select your grade");
</script>


		