<div class="container">	
	<div class="row">  
		<div class="col-md-12">
			<a href="/student/students" class="btn btn-small" style="margin-top: 12px; float: right;">Students</a>
	      <h1 class="page-header">Student</h1>
		</div>
	</div>
	<div class="row" style="margin-bottom: 5em;">
		<div class="col-md-6">
			<div class="form-group col"> 
				<label for="school_password">School ID:</label>
				<%= @student.school_password %>
			</div>
			<div class="form-group col">
				<label for="email">Email:</label>
				<%= @student.email %>
			</div>
			<div class="form-group col">
				<label for="first_name">Name:</label>
				<%= @student.first_name %> <%= @student.last_name %>
			</div>
			<div class="form-group col">
				<label for="phone">Phone:</label>
				<%= @student.phone %>
			</div>
			<div class="form-group col" hidden>
				<label for="school_id">School:</label>
				<%= @student.school_id %>
			</div>
			<div class="control-group col-md-6">		
				<label for="grade">Grade:</label>
				<%= @student.grade %>
			</div>
			
		</div>
		
		<div class="col-md-6" style="padding-left: 4em;">
			<p><strong>Class date</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= format_american_day(@student.created_at) %></p>
			<hr />
		    <p><strong>Question 1</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_1 %></p>
		    <p><strong>Question 2</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_2 %></p>
		    <p><strong>Question 3</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_3 %></p>
		    <p><strong>Question 4</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_4 %></p>
		    <p><strong>Question 5</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_5 %></p>
		    <p><strong>Question 6</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_6 %></p>
		    <p><strong>Question 7</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_7 %></p>
		    <p><strong>Question 8</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_8 %></p>
		    <p><strong>Question 9</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @student.question_9 %></p>
		    <p><strong>Question 10</strong>&nbsp;&nbsp;&nbsp; <%= @student.question_10 %></p>
		    <p><strong>Question 11</strong>&nbsp;&nbsp;&nbsp; <%= @student.question_11 %></p>
		    <p><strong>Question 12</strong>&nbsp;&nbsp;&nbsp; <%= @student.question_12 %></p>
			<hr />
			<% unless @student.contact_me == nil %>
		    <p>Contact me</p>
			<% else %>
			<p>Do not contact me</p>
			<% end %>
		</div>
	</div>
</div>


		