<style>
	
</style>

<div class="container" style="margin-bottom: 5em;">	
	<div class="row">  
		<div class="col-md-12">
			<h1 class="page-header">Student Survey</h1>
		</div>
	</div>
	<form class="form-horizontal" method="post" id="survey">
	<div class="row">
		<div class="col-md-12">	
			<div class="form-group">
				<p style="font-weight: 500;">Your answers to this survey will be anonymous. <br />Data from your survey will only be reported in the aggregate to your school and the National Guard.</p>
				<h4>Please indicate how much you agree or disagree with the following statements.</h4>
			
			<ol>
				<li>Bullying is a problem in my school.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_1" id="question_1" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_1 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_1 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_1 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_1 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>I have witnessed bullying within the past school year.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_2" id="question_2" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_2 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_2 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_2 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_2 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>I feel safe at my school.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_3" id="question_3" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_3 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_3 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_3 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_3 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>Students at my school reach out to help one another.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_4" id="question_4" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_4 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_4 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_4 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_4 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>My school's faculty and staff actively work to create a positive, caring environment.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_5" id="question_5" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_5 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_5 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_5 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_5 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>Appreciating diversity is an important part of my school's culture.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_6" id="question_6" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_6 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_6 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_6 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_6 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>This presentation helped me understand what bullying is and why people bully others.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_7" id="question_7" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_7 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_7 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_7 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_7 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>This presentation influenced my commitment to respecting and including others.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_8" id="question_8" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_8 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_8 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_8 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_8 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>This presentation gave me useful ideas for what to do if I witness bullying or cruelty.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_9" id="question_9" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_9 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_9 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_9 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_9 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>The character values discussed in H&bull;E&bull;A&bull;R are important to me.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_10" id="question_10" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_10 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_10 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_10 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_10 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>The presenter communicated clearly and effectively.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_11" id="question_11" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_11 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_11 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_11 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_11 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
				<li>The presenter was knowledgeable on the topic.
					<div class="form-group" style="margin: 0.5em 0 1em 0;">			
						<select type="text" class="form-select form-select-sm" name="question_12" id="question_12" style="width: 14em;" >
							<option value="Select one">-- Select one --</option>
							<option <%= 'selected' if @question_12 == 'Strongly Agree' %> value="Strongly Agree">Strongly Agree</option>
							<option <%= 'selected' if @question_12 == 'Agree' %> value="Agree">Agree</option>
							<option <%= 'selected' if @question_12 == 'Disagree' %> value="Disagree">Disagree</option>
							<option <%= 'selected' if @question_12 == 'Strongly Disagree' %> value="Strongly Disagree">Strongly Disagree</option>
						</select>
					</div>
				</li>
			</ol>
			<div class="" style="margin-top: 2em; text-align: left;">
				<button class="btn btn-success" id="account" type="submit">Save Record</button>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="goBack()" class="btn btn-secondary" id="cancel" style="color: #ffffff;">Cancel</a>
			</div>
			
		</div>
	</div>
	<div class="row">
	</div>
	</form>
</div>    <!-------- /container -------->



<script type="text/javascript">
	EnableSubmit = function(val) {
		var submit = document.getElementById("account");
		if (val.checked == true) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}
</script>






		