
		<div class="row">
			<div class="col-md-12">
				<p class="page-header">Let’s examine some character attributes.</p>
			</div>
		</div>
		<form class="form" method="post">
		<div class="row" style="margin-bottom: 7em">
			<div class="col-md-12">
				<%= @user.name %>
				<h2>Select one of the values below and describe how you believe you live it.</h2>
				<ul class="question-list">
					<li>Loyalty<br /><input type="text" id="loyalty" name="loyalty" style="width: 100%;" class="list-input" value="<%= @user.loyalty %>" /></li>
					<li>Duty<br /><input type="text" id="duty" name="duty" style="width: 100%;" class="list-input" value="<%= @user.duty %>" /></li>
					<li>Respect<br /><input type="text" id="respect" name="respect" style="width: 100%;" class="list-input" value="<%= @user.respect %>" /></li>
					<li>Selfless Service<br /><input type="text" id="service" name="service" style="width: 100%;" class="list-input" value="<%= @user.service %>" /></li>
					<li>Honor<br /><input type="text" id="honor" name="honor" style="width: 100%;" class="list-input" value="<%= @user.honor %>" /></li>
					<li>Integrity<br /><input type="text" id="integrity" name="integrity" style="width: 100%;" class="list-input" value="<%= @user.integrity %>" /></li>
					<li>Personal Courage<br /><input type="text" id="courage" name="courage" style="width: 100%;" class="list-input" value="<%= @user.courage %>" /></li>
				</ul>
				<h2>Mark below how important you think it is to treat others in a manner consistent with these seven character traits.</h2>
				<!-- <div class="row">
					<div class="col-lg-7" id="arrow" style="height: 120px; margin: 0px 0 24px 0;">
						<input type="range" min="-5" max="5" id="fader" step="1" style="vertical-align: center;" oninput="outputUpdate(value)" value="<%= @user.importance %>">

						<h2 style="text-align: center; height: 120; margin-top: -1%;"><output for="fader" id="volume" style="text-align: center;" value="<%= @user.importance %>">0</output></h2>
					</div>
				</div> -->
				
				
				<div class="row">
					<div class="col-lg-7" id="arrow" style="height: 120px; margin: 0px 0 24px 0;">
						<input type="range" name="range" step="5" min="0" max="100" value="<%= @user.importance %>" onchange="importance.value=value">
						<h2 style="text-align: center; height: 120; margin-top: -3%;">
						<input id="importance" name="importance" type="percent" style="text-align: center; background-color: transparent;" value="<%= @user.importance %>" />
					</h2>
					</div>
				</div>
				
				
				<h2 style="margin-bottom: 2px;">Why? <span style="font-weight: 200; font-size: 16px;">(your thoughts)</span> </h2>
				<input type="text" id="thoughts1" name="thoughts1" style="margin-bottom: 14px; width: 100%;" class="list-input" value="<%= @user.thoughts1 %>" />
			
				<h2 style="margin-bottom: 2px;">Why? <span style="font-weight: 200; font-size: 16px;">(thoughts from class discussion)</span> </h2> 
				<input type="text" id="thoughts2" name="thoughts2" style="margin-bottom: 12px; width: 100%;" class="list-input" value="<%= @user.thoughts2 %>" />
			
				<p style="margin-bottom: 2px;">Can you think of a role model you believe demonstrates some of these character traits? </p> 
				<input type="text" id="rolemodel" name="rolemodel" style="margin-bottom: 12px; width: 100%;" class="list-input" value="<%= @user.rolemodel %>" /></p>
			
				<br />
				<p style="float: right;"><a onclick="goBack()" class="btn btn-secondary"  >Cancel</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-success" value="Save this page" />
				</p>
			</div>
		</form>
		</div> 


<script>
	function outputUpdate(vol) {
		document.querySelector('#volume').value = vol;
	}
</script>
	
<style>
	input[type=range] {
	  height: 76px;
	  -webkit-appearance: none;
	  margin: 20px 0 0 0;
	  width: 100%;
	  background-color: transparent;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 80%;
	  text-align: center;
	  height: 120px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000;
	  background: transparent;
	  border-radius: 0px;
	  border: none;
	  top: 0;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 0px 0px #000000;
	  border: 0px solid #2497E3;
	  height: 74px;
	  width: 7px;
	  border-radius: 7px;
	  background: black;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: 3%;
	}
	
</style>